.doc {
  padding-top: 60px;
  .content {
    display: flex;
    height: calc(100vh - 60px);
    border-top: @boder-common;
    .md {
      width: 50%;
      flex-grow: 1;
      height: 100%;
      padding: 15px;
      overflow-y: auto;
      border-right: @boder-common;
    }
  }
}
