# 忽略目录
.git/
build/
config/
dist/
examples/
mobile/
node_modules/
packages/
public/
tests/
.husky/
.vscode/

# 忽略指定文件
.editorconfig
.eslintignore
.eslintrc
.eslintrc.js
.gitignore
.prettierrc
.prettierignore
babel.config.js
EXPLAIN.md
format.vue
.npmrc
*.html
jsconfig.json
tsconfig.json
vite.config.ts
vitest.config.ts
package-lock.json
pre-publish.json
pre-publish-github.json
vue.config.js
RELEASE.md
deploy.yml
.ncurc.json
.log
