{
  "singleQuote": true,
  "semi": false,
  "printWidth": 200,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
