.nav-list {
  li {
    > a {
      color: @font-color;
      font-size: @font-size;
      &:hover {
        color: @color-primary;
      }
      &.scale {
        .scale();
      }
    }
    .qrcode {
      &::after {
        content: '';
        position: absolute;
        top: 20px;
        left: -4px;
        z-index: 1;
        width: 30px;
        height: 20px;
        opacity: 0;
      }
      .dropdown {
        background: @color-white;
        box-shadow: 0 0 10px @box-shadow-dark;
        transition: all 0.4s;
        > span {
          margin-left: -6px;
          color: @font-color-reduce;
          font-size: @font-size;
        }
      }
    }
  }
}
