/**
  * 按钮
*/

@import './common/vars.less';

.me-button {
  // 按钮类型白色字体
  .me-button-type-white(@borderColor, @backGround: var(--me-text-white), @Color: var(--me-text-white)) {
    color: @Color;
    border-color: @borderColor;
    background: @backGround;
    @borderColor-reduce: color-mix(in srgb, @borderColor 20%, white);

    .me-icon {
      color: @Color;
    }

    &.me-button-plain {
      background: var(--me-text-white);
      color: @borderColor;

      .me-icon {
        color: @borderColor;
      }

      &.disabled {
        color: @borderColor-reduce;
        background: color-mix(in srgb, var(--me-text-white), white 20%);

        .me-icon {
          color: @borderColor-reduce;
        }
      }
    }

    &.disabled {
      @color-lighten-20: color-mix(in srgb, @Color, white 20%);
      color: @color-lighten-20;
      border-color: @borderColor-reduce;
      background: color-mix(in srgb, @Color, white 20%) color-mix(in srgb, @backGround, #fff 20%);
      cursor: not-allowed;

      .me-icon {
        color: @color-lighten-20;
      }
    }
  }

  .me-clamp();
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: 40px;
  line-height: 38px;
  border: 1px solid transparent;
  border-radius: var(--me-border-radius-default);
  padding: 0 15px;
  text-align: center;
  font-size: var(--me-text-md);
  font-style: normal;
  outline: none;

  &:focus {
    outline: none;
  }

  /* 主题样式 start */
  &.me-button-default {
    .me-button-type-white(var(--me-border-default), var(--me-text-white), var(--me-text-main));
  }

  &.me-button-primary {
    .me-button-type-white(var(--me-text-primary), var(--me-text-primary));
  }

  &.me-button-success {
    .me-button-type-white(var(--me-text-success), var(--me-text-success));
  }

  &.me-button-info {
    .me-button-type-white(var(--me-text-info), var(--me-text-info));
  }

  &.me-button-warning {
    .me-button-type-white(var(--me-text-warning), var(--me-text-warning));
  }

  &.me-button-danger {
    .me-button-type-white(var(--me-text-danger), var(--me-text-danger));
  }

  /* 主题样式 end */

  // 图标样式
  .me-icon {
    margin-right: 5px;
  }
}
