/**
  * @file 日历
*/

@import './common/vars.less';

.me-calendar {
  @day-px: 12px;
  @day-py: 8px;
  width: 280px;
  background: var(--me-bg-white);
  box-shadow: var(--me-shadow);
  transition: 0.3s opacity ease;
  opacity: 0;
  border-radius: var(--me-border-radius-default);
  color: var(--me-text-main);
  font-size: var(--me-text-md);
  position: relative;
  z-index: 100;
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  &.show {
    opacity: 1;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 30px;
    &-box {
      width: 24px;
      height: 24px;
      border-radius: var(--me-border-radius-default);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--me-text-main);
      font-size: var(--me-text-md);
      border-radius: var(--me-border-radius-default);
      border: 1px solid transparent;
      &.selected {
        background: var(--theme) !important;
        border-color: var(--theme);
        color: var(--me-text-white);
      }
      &.today {
        border-color: var(--theme);
      }
      &.disabled {
        color: var(--me-text-disabled);
      }
      &.fixed {
        background: transparent !important;
      }
    }
    &:hover {
      .item-box {
        background: var(--me-bg-con-reduce);
      }
    }
  }
  .calendar-year {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--me-border-default);
    padding: 0 @day-py;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 100%;

      .me-icon {
        color: var(--me-text-main-reduce) !important;
      }
      &:hover {
        .me-icon {
          color: var(--me-text-main) !important;
        }
      }
    }
    .year-center {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .month {
        margin-right: @day-py;
      }
    }
  }

  .calendar-week {
    padding: @day-py @day-px 0;
    display: flex;
    align-items: center;
  }
  .calendar-day {
    padding: 0 @day-px @day-py;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
