/**
  * @file 单元格
*/

@import './common/vars.less';

.me-cell {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid transparent;
  &.bottom {
    border-bottom: 1px solid var(--me-border-default);
  }

  .lf,
  .rt {
    display: flex;
    align-items: center;
  }

  .lf {
    color: var(--me-text-main);
    font-size: var(--me-text-md);
    .me-icon {
      margin-right: 5px;
      color: var(--icon-color);
    }
  }

  .rt {
    color: var(--me-text-main);
    font-size: var(--me-text-md);

    .placeholder {
      color: var(--me-text-light);
    }
    .me-icon {
      margin-left: 5px;
      color: var(--me-text-light);
      font-size: var(--me-text-large);
    }
  }
}
