/**
  * 索引栏
*/

@import './common/vars.less';

.me-index-bar {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // 相同的高度
  .same-height(@height: 36px, @bgc: var(--me-bg-white)) {
    height: @height;
    line-height: @height;
    padding: var(--me-p-default);
    background: @bgc;
  }

  // 右侧列表值
  .list-rt {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: var(--me-border-radius-circle);
      color: var(--me-text-main-reduce);
      font-size: var(--me-text-sm);
      cursor: pointer;

      &.on {
        color: var(--me-text-white);
        background: var(--me-text-primary);
      }
    }
  }

  // 内容列表
  .list-cont {
    .list-item {
      dt {
        .same-height(36px, var(--me-bg-item));
        color: var(--me-text-password);
        font-size: var(--me-text-md);
      }

      dd {
        .same-height(44px);
        border-bottom: 1px solid #ccc;
        color: var(--me-text-password);
        font-size: var(--me-text-md);
      }
    }
  }
}
