/**
  * @file 单选框
*/

@import './common/vars.less';

.me-radio {
  // aria设置样式
  .color-important {
    color: color-mix(in srgb, var(--me-text-main-reduce), #fff 10%) !important;
  }

  display: flex;
  align-items: center;

  // 未选中样式
  &[data-checked='false'] {
    .me-icon {
      .color-important;
    }
  }

  // 禁用样式
  &[data-disabled='true'] {
    .me-icon {
      .color-important;
    }

    .value {
      .color-important;
    }
  }

  // 图标样式
  .me-icon {
    margin: 0 4px -2px 0;
    color: var(--me-text-primary);
    transition: color 0.2s;
  }

  // value值样式
  .value {
    color: var(--me-text-main);
    font-size: var(--me-text-large);
  }
}
