/**
  * 搜索
*/

@import './common/vars.less';

.me-search {
  @height: var(--me-search-height, 40px);
  // 相同的高度
  .same-height() {
    height: inherit;
    line-height: inherit;
  }

  height: @height;
  line-height: @height;
  display: flex;
  width: 100%;
  background: var(--me-bg-default);
  color: var(--me-text-main);

  // 图标
  .me-icon {
    .same-height();
    padding: 0 10px;
    background: transparent;
    color: inherit;
  }

  // 输入框
  .input {
    .same-height();
    flex-grow: 1;
    display: block;
    width: 50%;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: var(--me-text-md);
    appearance: none;

    &::-webkit-input-placeholder {
      color: inherit;
      opacity: 0.6;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  // 按钮
  .btn {
    .same-height();
    padding: 0 10px;
    background: transparent;
    text-align: center;
    color: inherit;
    font-size: var(--me-text-md);
  }
}
