/**
  * 空状态
*/

@import './common/vars.less';

@keyframes skeleton-animation {
  0% {
    transform: translateX(-37.5%);
  }

  100% {
    transform: translateX(37.5%);
  }
}

.me-skeleton {
  @height: 20px;
  display: flex;

  &-avatar {
    position: relative;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--me-bg-con-reduce);
    overflow: hidden;
  }
  &-row {
    flex-grow: 1;
    width: 40%;
  }

  &-title,
  &-item {
    position: relative;
    height: @height;
    border-radius: var(--me-border-radius-default);
    margin-bottom: 16px;
    background: var(--me-bg-con-reduce);
    overflow: hidden;
  }
  &-item:last-child {
    margin-bottom: 0;
  }
  &.active {
    .me-skeleton {
      &-avatar,
      &-item,
      &-title {
        background: transparent;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          inset-inline: -150% -150%;
          background: linear-gradient(-45deg, var(--me-bg-con-reduce) 25%, color-mix(in srgb, var(--me-bg-gray) 50%, transparent) 37%, var(--me-bg-con-reduce) 63%);
          animation: skeleton-animation 1.2s ease infinite;
        }
      }
    }
  }
}
