/**
  * @file 标签栏
*/

@import './common/vars.less';

.me-tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--me-border-default);
  background: var(--me-bg-white);

  > li {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--me-text-main);

    // 图标
    .icon {
      position: relative;
      color: inherit;
      font-size: var(--me-text-sm) * 2 - 2px;

      // 相同的位置
      .same-position {
        position: absolute;
        top: 0;
        right: 0;
        background: var(--me-text-danger);
      }

      // 点
      &.dot::after {
        .same-position;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      // 徽标
      em {
        .same-position;
        min-width: 16px;
        border-radius: calc(var(--me-border-radius-default) * 4);
        padding: 0 3px;
        text-align: center;
        color: var(--me-text-white);
        font-size: var(--me-text-sm);
        font-style: normal;
        transform: translateX(50%);
      }
    }

    // 图片
    .img {
      display: block;
      height: 20px;
    }

    // 文本
    .txt {
      color: inherit;
      font-size: var(--me-text-md);
    }

    &.selected {
      color: var(--me-text-primary);
    }
  }
}
