@padding-15: 15px;

.layout {
  padding: @padding-15;
  background: @color-white;
  -webkit-tap-highlight-color: transparent;
  .same-padding {
    padding: 0 @padding-15;
  }
  .same-font {
    color: @font-color-reduce;
    font-size: @font-size;
  }
  .hd {
    .tit {
      > span {
        color: @font-color;
      }
    }
    .desc {
      .same-font;
      width: calc(100% + 3px);
    }
  }
  .list-out {
    .tit {
      .same-padding;
      .same-font;
    }
    .list-in {
      > li {
        > a {
          .same-padding;
          background: @bg-color;
          color: @font-color;
          font-size: @font-size;
        }
      }
    }
  }
}
