@height: 50px;
.header {
  height: @height;
  border-bottom: 1px solid @border-color-common;
  background: fade(@color-white, 90%);
  // 相同的高度
  .same-height {
    height: @height;
    line-height: @height;
    text-align: center;
  }
  // 返回按钮
  .return {
    .same-height;
  }
  // 标题信息
  .tit {
    .me-clamp();
    .same-height;
    color: @font-color;
    font-size: @font-size + 2px;
  }
}
